<ul class="nav flex-column app-nav">
    <li class="nav-item">
        <span class="nav-link">Alianza</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/clients">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Client look history</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Emergency PIN configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Emergency PIN history</a>
      </li>
  </ul>
